{% extends 'base.html.twig' %}

{% block title %}PreInscription{% endblock %}

 
{% block body %}

    <body>
        <div class="container">
  <h2 id="pdf" >Formulaire de pré-inscription {{ 'now'|date('Y-m-d') }}</h2>

  <form id="preinscription-form" method="post" action="{{path("pre_inscription_store",{'id':preinscription.prospect.id})}}">
     
      <div id="categFormation">
     
        {# <input class="form-check-input" name="CategFormation" type="radio" value="1" id="exampleRadios1" checked> #}
        <p>{{preinscription.categFormation.nom}}</p>
        
       
      </div>
      <table class="table table-bordered">
      <tbody>
      
        <tr>
          <th scope="row">Nom de la formation</th>
          <td>{{preinscription.prospect.parcours.formation.type}}</td>
          <th scope="row">Durée de la formation</th>
          <td>{{preinscription.prospect.parcours.formation.duree}}</td>
        </tr>
      </tbody>
     </table>
     <table class="table table-bordered">
      <tbody>
      
            <tr>
          <th scope="row">Session</th>
          <td class="text-center">{{preinscription.prospect.parcours.formation.sessionFormation.nom}}</td>
        </tr>
      </tbody>
     </table>

     <table class="table table-bordered">
      <tbody>
      
          <tr>
          <th scope="row">Lieu de la formation</th>
          <td class="text-center">{{preinscription.prospect.parcours.formation.lieuFormation}}</td>
        </tr>

      </tbody>
     </table>
     <table class="table table-bordered">
      <tbody>
      
          <tr>
          <th scope="row">Contenu de la formation</th>
          <td class="text-center">{{preinscription.prospect.parcours.formation.contenuFormation}}</td>
        </tr>

      </tbody>
     </table>
         <table class="table table-bordered">
      <tbody>
      
        <tr>
          <th scope="row">NOM</th>
          <td>{{preinscription.prospect.nom}}</td>
          <th scope="row">PRENOM</th>
          <td>{{preinscription.prospect.prenom}}</td>
        </tr>
      </tbody>
     </table>
      <table class="table table-bordered">
        <tbody>
        
            <tr>
            <th scope="row">Adresse</th>
            <td class="text-center">{{preinscription.prospect.adresse}}</td>
          </tr>

        </tbody>
     </table>
      <table class="table table-bordered">
        <tbody>
        
          <tr>
            <th scope="row">CP</th>
            <td>{{preinscription.prospect.cp}}</td>
            <th scope="row">Ville</th>
            <td>{{preinscription.prospect.ville}}</td>
          </tr>
        </tbody>
     </table>
     <table class="table table-bordered">
        <tbody>
        
          <tr>
            <th scope="row">Tel</th>
            <td>{{preinscription.prospect.tel}}</td>
            <th scope="row">Mail</th>
            <td>{{preinscription.prospect.email}}</td>
          </tr>
        </tbody>
     </table>
   
     <table class="table table-bordered">
        <tbody>
        
          <tr>
            <th scope="row">Né(e) le</th>
            <td>{{preinscription.prospect.lieuNaissance}}</td>
            <th scope="row">à</th>
            <td>{{preinscription.prospect.lieuNaissance}}</td>
          </tr>
        </tbody>
     </table>
    <table class="table table-bordered">
        <tbody>
        
          <tr>
            <th scope="row">Dépt naissance</th>
            <td>{{preinscription.prospect.deptNaissance}}</td>
            <th scope="row">Nationalité </th>
            <td>{{preinscription.prospect.nationalite}}</td>
          </tr>
        </tbody>
     </table>
    <table class="table table-bordered">
      <tbody>
      
        <tr>
          <th scope="row">Diplôme en cours</th>
          <td>      </td>
          <th scope="row">Diplôme obtenu </th>
          <td>{{preinscription.prospect.parcours.dernierDiplome}}</td>
          <th scope="row">Handicap</th>
          <td class="text-center">{{preinscription.prospect.parcours.handicap}}</td>
        </tr>

      </tbody>
     </table>
      <table class="table table-bordered">
      <tbody>
      
          <tr>
          <th scope="row">Coût de la formation</th>
          <td class="text-center">{{preinscription.prospect.parcours.formation.coutFormation}}</td>
          
        </tr>
 
      </tbody>
     </table>
            <div class="form-check">
 
       
        {% if (preinscription.prospect.parcours.formation.matSupp) %}
         <label for="form-check-label">Matériel supplémentaire  </label>
        <input class="form-check-input-left" type="checkbox" id="MatCheck1" checked>
               
        {% endif %}    
      </div>
       
    
      
      <h6>A la charge de : </h6>
      
      
          <form>
          <input type="hidden" id="inputid" value="{{preinscription.chargeDe.id}}">
          </form>
          {% if preinscription.chargeDe.id  == 2 %}
            <div>
            <p> {{preinscription.chargeDe.libelle}}   {{preinscription.candidatMontantPartiel}}</p>
            
             </div> 
                 
            
         
          
      {% elseif preinscription.chargeDe.id  == 3  %}  
          <div>
            <p> {{preinscription.chargeDe.libelle}}  {{preinscription.nomStructureFinancement}}</p>
            
            
            {% if (preinscription.isStructureFinancementValide) %}
                <div class="form-check-inline">
                
                  <label class="form-check-label" for="exampleRadios5bis">
                    Paiement validé par la structure
                    </label>
                    <input class="form-check-input-left" name="validePaiement" type="radio" value="true" id="exampleRadios5bis"  checked>
                </div>
            {% endif %}
          </div> 
        {% else %}
          <div>
            <p> {{preinscription.chargeDe.libelle}}</p>
          </div>
    
        {% endif %}
        
      
         
       
      <h6> Mode de paiement de la formation : </h6>
      <div>
      <p>  {{preinscription.financement.nom}}</p>
      </div>    
        
     
          
            
        
      

  

    {# <a href="{{ path('pre_inscription_index') }}">back to list</a> #}
</div>
 
{% endblock %}