
<div class="container">
    {{ form_start(form) }}
   
    <h3> Connexion</h3>
    <div class="form-row">
        <div class="form-group col-md-4 ">
            {{form_label(form.email, 'Votre email', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.email, {'attr': {'class': "form-control", 'placeholder': "Email"}}) }}
        </div>
    
    
        <div class="form-group col-md-4">
            {{form_label(form.pwd, 'mot de passe', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.pwd, {'attr': {'class': "form-control", 'placeholder': "Mot de passe"}}) }}
        </div>
    
        <div class="form-group col-md-4">
            {{form_label(form.login, 'Login', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.login, {'attr': {'class': "form-control", 'placeholder': "Login"}}) }}
        </div>
    </div>

    <h3> Coordonnées </h3>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form_label(form.nom, 'Votre nom', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.nom, {'attr': {'class': "form-control", 'placeholder': "Nom"}}) }}
        </div>
        <div class="form-group col-md-6">
            {{form_label(form.prenom, 'Votre prénom', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.prenom, {'attr': {'class': "form-control", 'placeholder': "Prénom"}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            {{form_label(form.tel, 'votre téléphone', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.tel, {'attr': {'class': "form-control", 'placeholder': "tel"}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            {{form_label(form.adresse, 'adresse', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.adresse, {'attr': {'class': "form-control", 'placeholder': "12 place des fossés"}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form_label(form.cp, 'Code Postal', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.cp, {'attr': {'class': "form-control", 'placeholder': "Code postal"}}) }}
        </div>
        <div class="form-group col-md-6">
            {{form_label(form.ville, 'Ville', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.ville, {'attr': {'class': "form-control", 'placeholder': "Ville"}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            {{form_label(form.dateNaissance, 'date de naissance', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.dateNaissance, {'attr': {'class': "form-control", 'placeholder': "date de naissance"}}) }}
        </div>
        <div class="form-group col-md-3">
            {{form_label(form.lieuNaissance, 'Lieu de naissance', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.lieuNaissance, {'attr': {'class': "form-control", 'placeholder': "Lieu de naissance"}}) }}
        </div>
        <div class="form-group col-md-3">
            {{form_label(form.deptNaissance, 'dept de naissance', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.deptNaissance, {'attr': {'class': "form-control", 'placeholder': "dept de naissance"}}) }}
        </div>
        <div class="form-group col-md-3">
            {{form_label(form.nationalite, 'nationalité', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.nationalite, {'attr': {'class': "form-control", 'placeholder': "nationalité"}}) }}
        </div>

    </div>
    

    <h3> Infos diverses </h3>
    <div class="form-row">
        <div class="form-group col-md-3">
            {{form_label(form.profil, 'Votre profil ', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.profil, {'attr': {'class': "form-control"}}) }}
        </div>
         <div class="form-group col-md-9">
            {{form_label(form.connuPar, 'Comment nous avez vous connu ? ', { 'attr': {'class': 'foo'} }) }}
            {{ form_widget(form.connuPar, {'attr': {'class': "form-control"}}) }}
        </div>
       
    </div>
      
     {{dump(prospect.parcours)}}
    <div class="form-row justify-content-between ">
        <a class="btn btn-info btn-lg float-left validation" href="{{ path('parcours_edit', {'id': parcours.id})}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>  Mon parcours</a>
    <div class="text-center">
        {{ form_row(form.save_and_add)}} 
    </div> 

        <button class="btn btn-info  btn-lg float-right validation ">{{ button_label|default('Pré_inscription') }}  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg></button>
    </div>
    
      
    

    
</div>
  

  

  {{ form_end(form) }}